@model Category

<h2>Details for category : @Model.CategoryName</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="CategoryId"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.CategoryId
        </dd>
        <dt class="col-sm-2">
            <label asp-for="CategoryName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.CategoryName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            <label asp-for="DateAdded"></label>
        </dt>
        <dd class="col-sm-10">
            @if (@Model.DateAdded == null)
            {
                <a>No data</a>
            }
            else{
                @Model.DateAdded.Value.ToShortDateString()
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pies)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Pie name</th>
                    <th>Price</th>
                </tr>
                @foreach (var pie in Model.Pies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(category => pie.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(category => pie.Price)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>